
# Ignore CSVs in data folder
src/data/*.csv

# But keep the folder itself
!src/data/
!src/data/.gitkeep

outputs
output_folder
# System
.DS_Store
Thumbs.db
desktop.ini

# Environment / editor
.venv
.env
*.log
*.bak
*.tmp
.vscode/
.idea/
*.swp
